@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<aside class="menu">
    <NavMenu />
</aside>

<section class="section">
    <div class="container">
        @Body
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Return</strong> by <a href="https://damsteen.nl/">Sebastiaan Dammann</a>
        </p>
    </div>
</footer>