@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@using Return.Web.Components.Layout

<CommonTopMenu />

<section class="section">
    <div class="container">
        @Body
    </div>
</section>

<Footer />