<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/images/logo/return.svg" width="64" height="28" alt="Return logo">

            RETURN
        </a>

        <a role="button" @onclick="ToggleNavMenu" class="navbar-burger burger @NavMenuCssClass" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu @NavMenuCssClass">
        
    </div>
</nav>

@code {
    bool _collapseNavMenu = true;

    string? NavMenuCssClass => _collapseNavMenu ? null : "is-active";

    void ToggleNavMenu()
    {
        this._collapseNavMenu = !_collapseNavMenu;
    }
}
