@using Return.Application.Retrospectives.Queries.GetRetrospectiveStatus
@using Return.Web.Pages
<RetrospectiveRolePanel>
    <Facilitator>
        <p>
            You have ended the retrospective. You can review the voted items with your team.
        </p>

        <p>
            You can always go back here and review the retrospective again.
        </p>
    </Facilitator>
    <Participant>
        <p>
            The facilitator can review the highest voted items with your team. You can always go back here
            and review the retrospective again.
        </p>
    </Participant>
</RetrospectiveRolePanel>

@if (this.RetrospectiveLobby != null) {
    if (this.RetrospectiveLobby.ShowShowcase)
    {
        <button type="button"
                class="button is-link is-outlined full-width"
                data-test-element-id="toggle-view-button"
                @onclick="@(() => this.RetrospectiveLobby.ShowBoardDisplay())">
            <span class="icon"><span class="fas fa-columns"></span></span><span>Show full board</span>
        </button>
    } else {
        <button type="button"
                class="button is-link is-outlined full-width"
                data-test-element-id="toggle-view-button"
                @onclick="@(() => this.RetrospectiveLobby.ShowShowcaseDisplay())">
            <span class="icon"><span class="fas fa-list-ol"></span></span><span>Show top items</span>
        </button>
    }
}

@code {
    #nullable disable
    [CascadingParameter]
    public IRetrospectiveLobby RetrospectiveLobby { get; set; }
}