@using Return.Application.RetrospectiveWorkflows.Commands
@inherits MediatorComponent

<h3 class="retrospective-status-panel__next-step-title">Next step</h3>
<RetrospectiveRolePanel>
    <Facilitator>
        <p>
            You can start the voting with the button below.
        </p>

        <NextStageInvocationForm TModel="InitiateVotingStageCommand"
                                 Model="@this.Model"
                                 OnContinue="@this.OnInvokeContinueToNextStage"
                                 ButtonText="Start voting phase"
                                 TimeLabelText="Time to vote (minutes)">
            <div class="field">
                <label class="label">Votes per lane</label>
                <div class="control">
                    <div class="control has-icons-left">
                        <InputNumber min="1" max="30" class="input" data-test-element-id="vote-count-input" @bind-Value="@this.Model.VotesPerGroup" style="width: 8em" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-poll"></i>
                        </span>
                    </div>
                    <ValidationMessage For="() => this.Model.VotesPerGroup" />
                </div>
            </div>
        </NextStageInvocationForm>
    </Facilitator>
    <Participant>
        <p>
            Please wait while the facilitator groups the items in the retrospective. After grouping you will have the opportunity to vote on the items.
        </p>
    </Participant>
</RetrospectiveRolePanel>

@code {
    private InitiateVotingStageCommand Model { get; } = new InitiateVotingStageCommand();

    private Task OnInvokeContinueToNextStage(InitiateVotingStageCommand command) => this.Mediator.Send(this.Model);
}