@using Return.Application.RetrospectiveWorkflows.Commands
@inherits MediatorComponent

<h3 class="retrospective-status-panel__next-step-title">Next step</h3>
<RetrospectiveRolePanel>
    <Facilitator>
        <p>
            You can start the retrospective with the button below. Participants can still join after the retrospective has started.
        </p>

        <NextStageInvocationForm TModel="InitiateWritingStageCommand"
                                 Model="@this.Command" 
                                 OnContinue="@this.OnInvokeContinueToNextStage"
                                 ButtonText="Start retrospective"
                                 TimeLabelText="Time to brainstorm (minutes)"/>
    </Facilitator>
    <Participant>
        <p>
            Please wait while the facilitator starts the retrospective.
        </p>
    </Participant>
</RetrospectiveRolePanel>

@code {
    private InitiateWritingStageCommand Command { get; } = new InitiateWritingStageCommand();

    private Task OnInvokeContinueToNextStage(InitiateWritingStageCommand command) => this.Mediator.Send(this.Command);
}
