@inherits MediatorComponent
@using Return.Application.Common.Models
@using Return.Application.Retrospectives.Queries.GetRetrospectiveStatus
@using Return.Application.RetrospectiveWorkflows.Commands
@using Return.Application.Votes.Queries
<RetrospectiveRolePanel>
    <Facilitator>
        <VoteStatusPanel />

        <WorkflowStatusTimer />

        <p>
            Votes are now being cast, a maximum of @this.RetrospectiveStatus.VotesPerLane votes per lane per participant. 
        </p>

        <h3 class="retrospective-status-panel__next-step-title">Next step</h3>
        <p>
            You can end the voting session with the button below. After ending the retrospective you can review the results.
        </p>

        <p class="has-text-centered">
            <button class="button is-danger" type="button" @onclick="@Continue" data-test-element-id="workflow-continue-button">
                <span class="fas fa-stop"></span> &nbsp;
                End the retrospective
            </button>
        </p>
    </Facilitator>
    <Participant>
        <p>
            Please cast your votes now. You can vote @this.RetrospectiveStatus.VotesPerLane times per lane.
        </p>

        <VoteStatusPanel />

        <WorkflowStatusTimer />
    </Participant>
</RetrospectiveRolePanel>

@code {
#nullable disable

    [CascadingParameter]
    public RetrospectiveStatus RetrospectiveStatus { get; set; }

    private Task Continue() {
        if (this.RetrospectiveStatus == null) {
            return Task.CompletedTask;  // Shouldn't happen, but ignore
        }

        return this.Mediator.Send(new InitiateFinishStageCommand {
            RetroId = this.RetrospectiveStatus.RetroId
        });
    }

    
}
