<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Return</strong> by <a href="https://damsteen.nl/">Sebastiaan Dammann</a>
            <a href="https://github.com/Sebazzz/Return" target="_blank" class="footer__gh-link">
                <span class="icon"><span class="fab fa-github"></span></span>
                <span>Github</span>
            </a>
        </p>
    </div>
</footer>