<div class="navbar-start">
    <NavLink class="navbar-item" href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>

    <NavLink class="navbar-item" href="/create-retro">
        <span class="icon"><span class="fas fa-users"></span></span>&nbsp;<span>Create retrospective</span>
    </NavLink>
</div>

<div class="navbar-end">
    &nbsp;
</div>