@using Return.Application.Retrospectives.Queries.GetRetrospectiveStatus
<div class="columns">
    @foreach (RetrospectiveLane lane in this.RetrospectiveStatus.Lanes)
    {
        <div class="column" data-test-element-id="note-lane" data-id="@lane.Id" @key="lane.Id">
            <NoteLane Lane="@lane" />
        </div>
    }
</div>

@code {
    #nullable disable

    [CascadingParameter]
    public RetrospectiveStatus RetrospectiveStatus { get; set; }
}
