<div class="reveal @CssClass">
    <div class="reveal__contents">@ChildContent</div>
</div>

@code {
    #nullable disable

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public string CssClass { get; set; }
}
