@using Return.Application.Common.Models

<span class="vote-indicator">
    <span class="@CssClass fa-star"></span>
</span>

@code {
    #nullable disable

    [Parameter]
    public ColorModel Color { get; set; }

    [Parameter]
    public bool IsCast { get; set; }

    private string CssClass => this.IsCast ? "fas" : "far";
}
