.navbar-brand > .navbar-item {
    font-weight: bold;
}

.retro-qrcode {
    width: auto;
    height: auto;
}

.form-explanation {
    margin-bottom: 1.5em;
}

.hero,
p {
    margin-bottom: 1em;
}

.input {
    &--retro-color {
        width: 5em;
    }
}
