// drag&drop
.no-drop {
    border: 2px dashed red;
}

.can-drop {
    border: 2px dashed green;
}

.draggable {
    cursor: move;
}

.draggable:active {
    cursor: grabbing;
}

.dragging {
    cursor: grabbing;
}
