.retrospective-status-panel {
    &__next-step-title {
        @extend .title;
        font-size: $size-5;
        margin-bottom: 0.5rem !important;
    }

    &__primary-explanation {
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc;
    }
}
