@page "/"

<h1 class="title">Welcome to Return!</h1>

<p>
    Return is an app for hosting retrospectives with your team.    
</p>

<p>
    Choose the appropriate item from the menu to create a new retrospective. To join an existing retrospective you need a link from your facilitator.
</p>