@page "/retrospective/{retroId}/lobby"
@layout RetrospectiveLayout
@inherits RetrospectiveLobbyBase

@if (this.RetrospectiveStatus == null) {
    if (this.HasLoaded) {
        <ErrorMessage Text="This retrospective cannot be found!" />
    } else {
        <p>Hold on... crunching the data</p>
    }
        
    return;
}

<CascadingValue Value=@this.RetroIdObject IsFixed="true">
    <CascadingValue Value=@this.CurrentParticipant IsFixed="true">
        <CascadingValue Value=@this.RetrospectiveStatus>
            <CascadingValue Value=@this.Votes>
                <div class="columns" data-test-element-id="main-board">
                    <div class="column is-three-quarters">
                        @if (this.ShowShowcase == false)
                        {
                            <RetrospectiveBoard />
                        }
                        else
                        {
                            <Showcase />
                        }
                    </div>

                    <div class="column">
                        <CascadingValue TValue="@IRetrospectiveLobby" Value=@this IsFixed="true">
                            <RetrospectiveStatusPanel />
                        </CascadingValue>

                        <RetrospectiveOnlineList RetroId="@this.RetroId" CurrentParticipant="@this.CurrentParticipant" />
                    </div>
                </div>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
