@page "/retrospective/{retroId}/lobby"

<h1 class="title">Retrospective lobby</h1>
<h2 class="subtitle">This has not been implemented yet.</h2>

@code {
    [Parameter]
    public string RetroId { get; set; }
}
