@page "/retrospective/{retroId}/lobby"
@inherits RetrospectiveLobbyBase

@if (this.RetrospectiveStatus == null)
{
    @if (this.HasLoaded) {
        <ErrorMessage Text="This retrospective cannot be found!" />
    }

    return;
}

<h1 class="title has-text-centered">Retrospective: @this.RetrospectiveStatus.Title</h1>

<CascadingValue Value=@this.RetroIdObject IsFixed="true">
    <CascadingValue Value=@this.CurrentParticipant IsFixed="true">
        <CascadingValue Value=@this.RetrospectiveStatus>
            <CascadingValue Value=@this.Votes>
                <div class="columns">
                    <div class="column is-three-quarters">
                        @if (this.ShowShowcase == false)
                        {
                            <RetrospectiveBoard />
                        }
                        else
                        {
                            <Showcase />
                        }
                    </div>

                    <div class="column">
                        <RetrospectiveOnlineList RetroId="@this.RetroId" CurrentParticipant="@this.CurrentParticipant" />

                        <CascadingValue TValue="@IRetrospectiveLobby" Value=@this IsFixed="true">
                            <RetrospectiveStatusPanel />
                        </CascadingValue>
                    </div>
                </div>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>