@page "/retrospective/{retroId}/lobby"
@layout PlainLayout
@inherits RetrospectiveLobbyBase
@using Return.Web.Components.Layout

@if (this.RetrospectiveStatus == null)
{
    <CommonTopMenu/>

    <section class="section">
        <div class="container">
            @if (this.HasLoaded) {
                <ErrorMessage Text="This retrospective cannot be found!" />
            } else {
                <p>Hold on... crunching the data</p>
            }
        </div>
    </section>

    <Footer />

    return;
}


<CascadingValue Value=@this.RetroIdObject IsFixed="true">
    <CascadingValue Value=@this.CurrentParticipant IsFixed="true">
        <CascadingValue Value=@this.RetrospectiveStatus>
            <RetrospectiveLobbyTopMenu />

            <section class="section">
                <div class="container">
                    <CascadingValue Value=@this.Votes>
                        <div class="columns" data-test-element-id="main-board">
                            <div class="column is-three-quarters">
                                @if (this.ShowShowcase == false)
                                {
                                    <RetrospectiveBoard />
                                }
                                else
                                {
                                    <Showcase />
                                }
                            </div>

                            <div class="column">
                                <CascadingValue TValue="@IRetrospectiveLobby" Value=@this IsFixed="true">
                                    <RetrospectiveStatusPanel />
                                </CascadingValue>

                                <RetrospectiveOnlineList RetroId="@this.RetroId" CurrentParticipant="@this.CurrentParticipant" />
                            </div>
                        </div>
                    </CascadingValue>
                </div>
            </section>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
 

<Footer />